@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    font-family: var(--main-font);
    padding: 0;
    background-image: linear-gradient(to right top, #b4fdf7, #cafde8, #e1fbe0, #f3fae0, #fff9e6);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.nav-bar-icon {
    color: #979797;
    margin-right: 7px;
}

:root {
    --main-font: 'Ysabeau SC', sans-serif;
    --color-theme: #fff9e6;
}

footer{
    background: #fff;
}